body{
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}
.navbutton{
    flex: 10;
    padding: 30px;
    background-color: #ffffff;
    margin: 5px;
    font-size: 15px;
    color: #000000;
}
.navbutton:hover{
    background-color: rgb(253, 238, 213);
    color: rgb(35, 8, 8);
    transition: 500ms;
}
#buttonlist{
    flex: 100;
    float:right;
    list-style-type: none;
}
#cornerlogo{
    padding: auto;
    margin: auto;
    width: 25%;
    float: left;
    text-align: center;
}
#headlogo{
    width: 25%;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
#topcontainer{
    text-align: center;
    width: auto;
    margin: auto;
    padding: 20px;
    justify-content: center;
}
.homecontent{
    text-align: center;
    margin:auto;
}
#title{
    margin-top:0;
    margin-bottom:0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
#subtitle{
    margin-top:0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    font-style: italic;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.socialcontent{
    text-align: center;
    margin:auto;
}
#sociallist{
    list-style-type: none;
    padding: 0;
}
.sociallogos{
    width:8%;
    margin: 2px;
    text-decoration:none;
}
footer{
    float: right;
}